@model PontoModel
@using PontoMVC.Models.Enums;

@if (TempData["MensagemErro"] != null)
{
    
    <div id="myAlert" class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @TempData["MensagemErro"]
    </div>
}

<p>Usuario: @TempData["Usuario"]</p>
<p>Data/ Hora da marcação: @DateTime.Now</p>

<form asp-controller="Ponto" asp-action="Bater" method="post">
    <div class="form-group">
        <label for="nome">Tipo de Marcação: </label>
        <br />
        <select asp-for="TipoBatida" class="form-control" required data-val-required="Por favor, selecione um tipo de marcação">
            <option value="">Selecione</option>
            <option value="@ETipo.Entrada">Entrada</option>
            <option value="@ETipo.Pausa"> Pausa</option>
            <option value="@ETipo.Retorno"> Retorno</option>
            <option value="@ETipo.Saida">Saída</option>
        </select>
    </div>
    <div class="modal-footer">
        
        <button type="submit" class="btn btn-primary btn-block">Gravar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
    </div>
</form>

<script>
    // Fechar o alerta após 3 segundos
    setTimeout(function () {
        var alert = document.getElementById('myAlert');
        alert.classList.remove('show'); // Remove a classe 'show' para ativar a animação de fade
        setTimeout(function () {
            alert.remove(); // Remove completamente o elemento do DOM após a animação de fade
        }, 500); // Tempo correspondente à duração da animação de fade definida no CSS
    }, 5000); // 5 segundos
</script>